body{
    margin: 0;
    padding: 0;
    border:none;
}
.container{
    margin: 2em auto 2em auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3c85f;
    border-radius: 15px;
}
h1{
    color: #944e2d;
    font-size: 4em;
    font-family: 'Lexend Exa', sans-serif;
    margin: .5em auto .3em auto;
}

.kat-menu, .dog-menu{
    list-style: none;
}
.menu-wrapper{
    /* background-color: #31253b; */
    border-bottom: 2px solid white;
    text-align: center;
    margin: 0 auto 3em auto;
    width: 550px;
    height: 50px;
    font-family: 'Lexend Exa', sans-serif;

}
.kat-menu a, .dog-menu a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: #807410;
}
li {
    display: inline;
    padding:  0px 10px 10px 10px;
}

#katImg, #dogImg{
    height: 432x;
    width: 260px;
    margin-bottom: 40px;
    border-radius: 5px;
    border: 1px solid white;
}

#katText, #dogText{
    width: 60%; 
    padding: 1em;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.2px;
    font-size: 1.5em;
    line-height: 1.5em;
    font-weight: bold;
    color: #f5f1d4;
    border-left: 2px solid white;
    border-right: 2px solid white;
    background-color:#944e2d;
}
button{
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding:10px;
    margin-bottom: 3em;
    font-weight: bold;
    color: whitesmoke;
    background-color: #9e9119;
}
button:hover{
    background-color: #70660b;
}








